#icons-card{
  display: flex;
  height: 22vh;
}

#icons-card a{
  display: flex;
  align-items: end;
}

.services {
  background-color: #fff;
  margin-right: 12rem;
  margin-left: 12rem;
}

.service-box {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.icon {
  color: #32dbc6;
}

.service-title {
  font-size: 20px;
  margin-top: 10px;
  color: #333333c9;
}

.icon-service{
  color: #32dbc6;
  font-size: 43px;
  margin-right: 20px
}
.service-text {
  font-size: 0.9rem;
  color: #333333c9;
}
.text-infos{
  text-decoration: none;
  color: #32dbc6;

}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Responsive design */
@media (max-width: 992px) { 
  .services {
    padding: 2rem 1rem; 
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 576px) { 
  .icon-service {
    font-size: 36px; 
  }

  .service-title {
    font-size: 18px; 
  }

  .service-text {
    font-size: 0.85rem;
  }

  .service {
    padding: 15px; 
  }
}