body {
  background-color: #f4f4f4;
  font-family: 'Arial', sans-serif;
}



.bg-dark {
  background-color: #333 !important;
}
.nav-bar{
  background-color: #ffffff;
}

.text-light {
  color: #f8f9fa !important;
}

.social-icons i {
  font-size: 24px;
}

.starts{
  background-color: #32dbc6;
  text-align: center;
  padding: 40px;
  margin-top: 50px;
}

.text{
  color: #999999;
  margin: 12px;
  text-decoration: none;
  transition: transform 0.3s ease, color 0.3s ease;
}
.text:hover{
  color:#f4f4f4;
  text-decoration: none;
}

.my-5 p{
  color: #333333c9;
  
}


.about {
  display: flex;
  align-items: center; 
  flex-wrap: wrap; 
}

.text-column {
  margin-left: 20px; 
}

.image-column {
  margin-left: 20px; 
}

/* Media Queries for Responsiveness */
@media (max-width: 992px) {
  .text-column {
      margin-left: 0;
      text-align: center; 
  }

  .image-column {
      margin-left: 0; 
      text-align: center; 
  }
}

@media (max-width: 576px) {
  .text-column {
      text-align: center; 
  }

  .image-column {
      margin: 0 auto; 
  }

  h1 {
      font-size: 1.5rem; 
  }

  h4 {
      font-size: 1.2rem; 
  }

  p {
      font-size: 0.9rem; /* Adjust paragraph size for mobile */
  }
}


