body {
  background-color: #f4f4f4;
  font-family: 'Arial', sans-serif;
}



.bg-dark {
  background-color: #333 !important;
}
.nav-bar{
  background-color: #ffffff;
}

.text-light {
  color: #f8f9fa !important;
}

.social-icons i {
  font-size: 24px;
}

.starts{
  background-color: #32dbc6;
  text-align: center;
  padding: 40px;
  margin-top: 50px;
}

.text{
  color: #999999;
  text-decoration: none;
  transition: transform 0.3s ease, color 0.3s ease;
}
.text:hover{
  color:#f4f4f4;
  text-decoration: none;
}

.my-5 p{
  color: #333333c9;
  
}

